.reserve{
    width: 100vw;
    height: 100hw;
    background-color: rgba(0, 0, 0, 0.333);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rContainer{
    width: 100%;
    height: 100%;
}